<p id="notice"><%= notice %></p>

<p>
  <strong>Project name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Project owner:</strong>
  <%= @project.user.firstname %>
  <%= @project.user.lastname %>
</p>

<p>
  <strong>Project ID:</strong>
  <%= @project.id %>
</p>



<%= link_to 'Edit', edit_project_path(@project) %>
|
<%= link_to 'Back', projects_path %>
